<div class="large-4 columns" style="margin-left: 35%;">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

   <div><strong>Nombre</strong><br/>
    <%=f.text_field :first_name, required: true %></div>

    <div><strong>Apellido</strong><br/>
    <%=f.text_field :last_name, required: true %></div>
    
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

     <div><strong>Cargo</strong><br/>
    <%=f.text_field :cargo, required: true %></div>

    <div><strong>Institución</strong><br/>
    <%=f.text_field :inst, required: true %></div>


    <div><strong>Sitio Web Personal</strong><br/>
    <%=f.text_field :sitio, required: true %></div>

    <div><strong>Breve Biografía</strong><br/>
    <%=f.text_field :bio, required: true %></div>

    <div><strong>Zona Geográfica</strong><br/>
    <%=f.text_field :zona, required: true %></div>

     <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>



  

  <div><%= f.submit "Update" %></div>
<% end %>



<%= link_to "Back", :back %>
</div>