<div class="shop"></div>
<div class="share"></div>
<div class="buscar"></div>
<div class="login"><%= link_to 'Sign in', new_user_session_path %></div>
<ul class="social_ext">
	<li><a href="#" class="fb_ext"><%= image_tag("facebook.png", :class => "img_li") %></a></li>
	<li><a href="#" class="fb_ext"><%= image_tag("tw.png", :class => "img_li") %></a></li>
	<li><a href="#" class="fb_ext"><%= image_tag("pinterest2.png", :class => "img_li") %></a></li>
	<li><a href="#" class="fb_ext"><%= image_tag("tumblr2.png", :class => "img_li") %></a></li>
	<li><a href="#" class="fb_ext"><%= image_tag("gplus.png", :class => "img_li") %></a></li>
</ul>
<div class="logotop"></div>

<ul class="nav">
	
</ul>
<div class="headerline"></div>

<h1 class="titulo"><%=@tira.titulo%></h1>
<div class="tira">

	<div class="container1">
		<p class="texto1"><%=@tira.text1%></p>
		<p class="textopersonajecuadro1" id="textopersonajecuadro1"><%=@tira.texto_personaje_cuadro1%></p>
	</div>
	<% if (@tira.personaje_cuadro2 == "Teo_y_Camila") %>
		<div class="container2alt1">
	<%else%>
		<div class="container2">
	<% end %>
		<p class="texto2"><%=@tira.text2%></p>
		<p class="textopersonajecuadro2" id="textopersonajecuadro2"><%=@tira.texto_personaje_cuadro2%></p>
	</div>
	<div class="container3">
		<p class="texto3"><%=@tira.text3%></p>
		<p class="textopersonajecuadro3" id="textopersonajecuadro3"><%=@tira.texto_personaje_cuadro3%></p>
	</div>
	<% if (@tira.personaje_cuadro4 == "Teo_y_Camila") %>
		<div class="container4alt1">
	<%else%>
		<div class="container4">
	<% end %>
	
		<p class="texto4"><%=@tira.text4%></p>
		<p class="textopersonajecuadro4" id="textopersonajecuadro4"><%=@tira.texto_personaje_cuadro4%></p>
	</div>
	<div class="container5">
		<p class="texto5"><%=@tira.text5%></p>
		<p class="textopersonajecuadro5" id="textopersonajecuadro5"><%=@tira.texto_personaje_cuadro5%></p>
	</div>
	<div class="container6">
		<p class="texto6"><%=@tira.text6%></p>
		<p class="textopersonajecuadro6" id="textopersonajecuadro6"><%=@tira.texto_personaje_cuadro6%></p>
	</div>
</div>



<div class="controlsdiv">
	
</div>

<div class="footerline">
	<ul class="nav-bottom">
	<li class="liteo"><a href="/">TEOPHILO</a></li>
	<li>MEMARIOS </li>
	<li><a href="/tienda">TIENDA</a></li>
	<li>BLOGS</li>
	<li>NUESTRAS VOCES</li>
	<li><a href="/etica">CÓDIGO DE ÉTICA</a></li>
	<li><a href="/teo">TEO</a></li>
	<li><a href="/colabora">COLABORA CON NOSOTROS</a></li>
	<li><a href="/login">LOGIN</a></li>
</ul>
</div>

