<div class="shop"></div>
<div class="share"></div>
<div class="buscar"></div>
<div class="login"><%= link_to 'Sign in', new_user_session_path %></div>
<div class="logotop"></div>

<ul class="nav">
	<li>MEMARIOS </li>
	<li><a href="/tienda">TIENDA</a></li>
	<li>BLOGS</li>
	<li>NUESTRAS VOCES</li>
	<li><a href="/etica">CÓDIGO DE ÉTICA</a></li>
	<li>ARCHIVO</li>
	<li><a href="/teo"><a href="/colabora">COLABORA CON NOSOTROS</a></a></li>
</ul>
<div class="headerline"></div>

<h1 class="titulo"><%=@tira.titulo%></h1>
<div class="tira">
	

	<div class="container1">
		<p class="texto1"><%=@tira.text1%></p>
	</div>
	<div class="container2">
		<p class="texto2"><%=@tira.text2%></p>
	</div>
	<div class="container3">
		<p class="texto3"><%=@tira.text3%></p>
	</div>
	<div class="container4">
		<p class="texto4"><%=@tira.text4%></p>
	</div>
	<div class="container5">
		<p class="texto5"><%=@tira.text5%></p>
	</div>
	<div class="container6">
		<p class="texto6"><%=@tira.text6%></p>
	</div>
</div>

<div class="controlsdiv">
	<div class="fastrewind"></div>
	<div class="rewind"></div>
	<div class="forward"></div>
	<div class="fastforard"></div>
</div>

<div class="footerline">
	<ul class="nav-bottom">
	<li class="liteo"><a href="/">TEOPHILO</a></li>
	<li>MEMARIOS </li>
	<li><a href="/tienda">TIENDA</a></li>
	<li>BLOGS</li>
	<li>NUESTRAS VOCES</li>
	<li><a href="/etica">CÓDIGO DE ÉTICA</a></li>
	<li><a href="/teo">TEO</a></li>
	<li><a href="/colabora">COLABORA CON NOSOTROS</a></li>
</ul>
</div>

