<h1 class="titulo"><%=@tira.titulo%></h1>
<div class="tira">
	

	<div class="container1">
		<p class="texto1"><%=@tira.text1%></p>
	</div>
	<div class="container2">
		<p class="texto2"><%=@tira.text2%></p>
	</div>
	<div class="container3">
		<p class="texto3"><%=@tira.text3%></p>
	</div>
	<div class="container4">
		<p class="texto4"><%=@tira.text4%></p>
	</div>
	<div class="container5">
		<p class="texto5"><%=@tira.text5%></p>
	</div>
	<div class="container6">
		<p class="texto6"><%=@tira.text6%></p>
	</div>
</div>
<div class="controlsdiv">
	<div class="fastrewind"></div>
	<div class="rewind"></div>
	<div class="forward"></div>
	<div class="fastforard"></div>
</div>