<div class="cont_margin" >
	<h2>NUESTROS COLABORADORES</h2>
	<%@users.each do |u|%>
		<div style="margin-top: 2%; margin-bottom: 1%; position:relative; left: 5%;">
			<h3><%= u.first_name %> <%= u.last_name %></h3>
			<h6><%= u.cargo %> @ <%= u.inst %></h6>
			<p> <%= u.bio %></p>
			<a href="http://<%=u.sitio %>"><%=u.sitio %></a>
		</div>
	<% end %>
</div>
<div class="footerline">
	<div class="footer_mision">MISIÓN</div>
	<div class="footer_text">
		<p class="table_text2">Teophilo pretende crear un espacio plural –de ideas y arte– donde las idiosincrasias y propuestas de la diversidad nacional coexistan y construyan una sociedad más fraterna, libre y equitativa.</p>
		<p class="table_text2">Elizabeth Anderson (1999) en “What is the Point of Equality”: </p>
		<p class="table_text2">El igualitarismo (egalitarianism) debe reflejar una visión generosa, humana, y cosmopolita de una sociedad que reconozca a las personas como iguales en toda su diversidad. Se debe promover acuerdos institucionales que permitan la diversidad de talentos, las aspiraciones, las funciones y las culturas de las personas en beneficio de todos y que se reconozcan como de beneficio mutuo.</p>
		</div>
</div>
<div class="footer-bar">
	<ul>
		<li><a href="#">AVISO DE PRIVACIDAD</a></li>
		<li><a href="#">CODIGO DE ETICA</a></li>
		<li><a href="/login">HERRAMIENTAS COLABORADORES</a></li>
	</ul>
	
</div>
