<script type="text/javascript">
  $(function() {
 
    $("form").bind("keypress", function(e) {
            if (e.keyCode == 13) return false;
      });
 
});
</script>
<div class="form_new">
<%= form_for(@tira) do |f| %>
  <% if @tira.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tira.errors.count, "error") %> prohibited this tira from being saved:</h2>

      <ul>
      <% @tira.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :user_id, :value => @user.id  %>

  
  <div class="field">
    <p class="cuadro_title">TÍTULO</p><br>
    <%= f.text_field :titulo %>
  </div>

<p class="cuadro_title">PRIMER CUADRO</p>
<hr>
  <div class="field">
    <p>Personajes</p>
    <%= f.select :personaje_cuadro1, options_for_select(%w[Teo])%>
  </div>
  <div class="field">
    <p>Diálogo Teo </p>
    <%= f.text_field :text1 %>
  </div>
  <div class="field">
    <p>Diálogo Personaje Extra (Dejar en blanco si no hay)</p>
    <%= f.text_field :texto_personaje_cuadro1 %>
  </div>
<p class="cuadro_title">SEGUNDO CUADRO</p>
<hr>
  <div class="field">
    <p>Personajes</p>
    <%= f.select :personaje_cuadro2, options_for_select(%w[Teo Teo_y_Camila Teo_y_Clara Teo_y_Don_German Teo_y_Guille Teo_e_Iker Teo_e_Irene Teo_y_Juana_Maria Teo_y_Santiago])%>
  </div>
  <div class="field">
    <p>Diálogo Personaje Extra (Dejar en blanco si no hay)</p>
    <%= f.text_field :text2 %>
    <script type="text/javascript">
      jQuery(document).ready(function () {
            $("#tira_personaje_cuadro2").on("change", function () {
                if (this.value == "Teo_y_Camila"){
                  $("#img_2").attr("src","/assets/2alt1.png");
                }
                if (this.value == "Teo_y_Clara"){
                  $("#img_2").attr("src","/assets/2alt2.png");
                }
                if (this.value == "Teo_y_Don_German"){
                  $("#img_2").attr("src","/assets/2alt3.png");
                }
                if (this.value == "Teo_y_Guille"){
                  $("#img_2").attr("src","/assets/2alt4.png");
                }
                if (this.value == "Teo_e_Iker"){
                  $("#img_2").attr("src","/assets/2alt5.png");
                }
                if (this.value == "Teo_e_Irene"){
                  $("#img_2").attr("src","/assets/2alt6.png");
                }
                if (this.value == "Teo_y_Juana_Maria"){
                  $("#img_2").attr("src","/assets/2alt7.png");
                }
                if (this.value == "Teo_y_Santiago"){
                  $("#img_2").attr("src","/assets/2alt8.png");
                }
                 if (this.value == "Teo"){
                  $("#img_2").attr("src","/assets/2.png");;
                }
                
            });
        });
  </script>

  </div>
  <div class="field">
    <p>Diálogo Teo</p>
    <%= f.text_field :texto_personaje_cuadro2 %>
  </div>
<p class="cuadro_title">TERCER CUADRO</p>
<hr>
  <div class="field">
    <p>Personajes</p>
    <%= f.select :personaje_cuadro3, options_for_select(%w[Teo])%>
  </div>
  <div class="field">
    <p>Diálogo Teo</p>
    <%= f.text_field :text3 %>
  </div>
  <div class="field">
    <p>Diálogo Personaje Extra (Dejar en blanco si no hay)</p>
    <%= f.text_field :texto_personaje_cuadro3 %>
  </div>
  <p class="cuadro_title">CUARTO CUADRO</p>
<hr>
  <div class="field">
    <p>Personajes</p>
    <%= f.select :personaje_cuadro4, options_for_select(%w[Teo Teo_y_Camila Teo_y_Clara Teo_y_Don_German Teo_y_Guille Teo_e_Iker Teo_e_Irene Teo_y_Juana_Maria Teo_y_Santiago])%>
  </div>
  <div class="field">
    <p>Diálogo Teo</p>
    <%= f.text_field :text4 %>
    <script type="text/javascript">
      jQuery(document).ready(function () {
            $("#tira_personaje_cuadro4").on("change", function () {
                 if (this.value == "Teo_y_Camila"){
                  $("#img_4").attr("src","/assets/4alt1.png");
                }
                if (this.value == "Teo_y_Clara"){
                  $("#img_4").attr("src","/assets/4alt2.png");
                }
                if (this.value == "Teo_y_Don_German"){
                  $("#img_4").attr("src","/assets/4alt3.png");
                }
                if (this.value == "Teo_y_Guille"){
                  $("#img_4").attr("src","/assets/4alt4.png");
                }
                if (this.value == "Teo_e_Iker"){
                  $("#img_4").attr("src","/assets/4alt5.png");
                }
                if (this.value == "Teo_e_Irene"){
                  $("#img_4").attr("src","/assets/4alt6.png");
                }
                if (this.value == "Teo_y_Juana_Maria"){
                  $("#img_4").attr("src","/assets/4alt7.png");
                }
                if (this.value == "Teo_y_Santiago"){
                  $("#img_4").attr("src","/assets/4alt8.png");
                }
                 if (this.value == "Teo"){
                  $("#img_4").attr("src","/assets/4.png");;
                }
                
            });
        });
  </script>
  </div>
  <div class="field">
    <p>Diálogo Personaje Extra (Dejar en blanco si no hay)</p>
    <%= f.text_field :texto_personaje_cuadro4 %>
  </div>
  <p class="cuadro_title">QUINTO CUADRO</p>
<hr>
  <div class="field">
    <p>Personajes</p>
    <%= f.select :personaje_cuadro5, options_for_select(%w[Teo])%>
  </div>
  <div class="field">
    <p>Diálogo Teo</p>
    <%= f.text_field :text5 %>
  </div>
  <div class="field">
    <p>Diálogo Personaje Extra (Dejar en blanco si no hay)</p>
    <%= f.text_field :texto_personaje_cuadro5 %>
  </div>
  <p class="cuadro_title">ÚLTIMO CUADRO</p>
<hr>
  <div class="field">
    <p>Personajes</p>
    <%= f.select :personaje_cuadro6, options_for_select(%w[Teo Teo_y_Camila Teo_y_Clara Teo_y_Don_German Teo_y_Guille Teo_e_Iker Teo_e_Irene Teo_y_Juana_Maria Teo_y_Santiago])%>
  </div>
  <div class="field">
    <p>Diálogo Teo (Cuadro 6)</p>
    <%= f.text_field :text6 %>
    <script type="text/javascript">
      jQuery(document).ready(function () {
            $("#tira_personaje_cuadro6").on("change", function () {
                 if (this.value == "Teo_y_Camila"){
                  $("#img_6").attr("src","/assets/6alt1.png");
                }
                if (this.value == "Teo_y_Clara"){
                  $("#img_6").attr("src","/assets/6alt2.png");
                }
                if (this.value == "Teo_y_Don_German"){
                  $("#img_6").attr("src","/assets/6alt3.png");
                }
                if (this.value == "Teo_y_Guille"){
                  $("#img_6").attr("src","/assets/6alt4.png");
                }
                if (this.value == "Teo_e_Iker"){
                  $("#img_6").attr("src","/assets/6alt5.png");
                }
                if (this.value == "Teo_e_Irene"){
                  $("#img_6").attr("src","/assets/6alt6.png");
                }
                if (this.value == "Teo_y_Juana_Maria"){
                  $("#img_6").attr("src","/assets/6alt7.png");
                }
                if (this.value == "Teo_y_Santiago"){
                  $("#img_6").attr("src","/assets/6alt8.png");
                }
                 if (this.value == "Teo"){
                  $("#img_6").attr("src","/assets/6.png");;
                }
                
            });
        });
  </script>
  </div>
  <div class="field">
    <p>Diálogo Personaje Extra (Dejar en blanco si no hay)</p>
    <%= f.text_field :texto_personaje_cuadro6 %>
  </div>
  <p class="cuadro_title">ETIQUETAS (TAGS)</p>
<hr>
  <div class="field">
    <p>Escriba una o más etiquetas a las cuales asociar la tira. </p>
    <p>Separa cada etiqueta con una coma (,) seguida de un espacio. Debajo se muestra una lista de las etiquetas ya existentes, trate de utilizar una o más de ellas escribiendolas tal cual aparecen y en dado caso que una etiqueta apropiada para su tira no exista, puede crear una simplemente escribiendola en la caja de texto. </p>
    <%= f.text_field :tag_list %>
  </div>
  <p>Etiquetas existentes:</p>
  <ul>
  <% ActsAsTaggableOn::Tag.all.each do |t|%>
    <li><%=t.name %></li>
  <% end %>
  </ul>
  <p class="cuadro_title">FINALIZAR</p>
<hr>
  <div class="actions">
    
    <%= f.submit "CREAR TIRA" %><br/><br/>
    <%= link_to 'Regresar', tiras_path %>
  </div>
<% end %>
</div>