
<div class="form_new">
<%= form_for(@tira) do |f| %>
  <% if @tira.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tira.errors.count, "error") %> prohibited this tira from being saved:</h2>

      <ul>
      <% @tira.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :user_id, :value => @user.id  %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>

  <div class="field">
    <p>Personajes Cuadro 1</p>
    <%= f.select :personaje_cuadro1, options_for_select(%w[Teo])%>
  </div>
  <div class="field">
    <p>Diálogo Teo (Cuadro 1)</p>
    <%= f.text_field :text1 %>
  </div>
  <div class="field">
    <p>Diálogo Personaje (Cuadro 1) (En blanco si no hay)</p>
    <%= f.text_field :texto_personaje_cuadro1 %>
  </div>

  <div class="field">
    <p>Personajes Cuadro 2</p>
    <%= f.select :personaje_cuadro2, options_for_select(%w[Teo Teo_y_Camila Teo_y_Clara Teo_y_Don_German Teo_y_Guille Teo_e_Iker Teo_e_Irene Teo_y_Juana_Maria Teo_y_Santiago])%>
  </div>
  <div class="field">
    <p>Diálogo Personaje (Cuadro 2) (En blanco si no hay)</p>
    <%= f.text_field :text2 %>
    <script type="text/javascript">
      jQuery(document).ready(function () {
            $("#tira_personaje_cuadro2").on("change", function () {
                if (this.value == "Teo_y_Camila"){
                  $("#img_2").attr("src","/assets/2alt1.png");
                }
                if (this.value == "Teo_y_Clara"){
                  $("#img_2").attr("src","/assets/2alt2.png");
                }
                if (this.value == "Teo_y_Don_German"){
                  $("#img_2").attr("src","/assets/2alt3.png");
                }
                if (this.value == "Teo_y_Guille"){
                  $("#img_2").attr("src","/assets/2alt4.png");
                }
                if (this.value == "Teo_e_Iker"){
                  $("#img_2").attr("src","/assets/2alt5.png");
                }
                if (this.value == "Teo_e_Irene"){
                  $("#img_2").attr("src","/assets/2alt6.png");
                }
                if (this.value == "Teo_y_Juana_Maria"){
                  $("#img_2").attr("src","/assets/2alt7.png");
                }
                if (this.value == "Teo_y_Santiago"){
                  $("#img_2").attr("src","/assets/2alt8.png");
                }
                 if (this.value == "Teo"){
                  $("#img_2").attr("src","/assets/2.png");;
                }
                
            });
        });
  </script>

  </div>
  <div class="field">
    <p>Diálogo Teo (Cuadro 2)</p>
    <%= f.text_field :texto_personaje_cuadro2 %>
  </div>

  <div class="field">
    <p>Personajes Cuadro 3</p>
    <%= f.select :personaje_cuadro3, options_for_select(%w[Teo])%>
  </div>
  <div class="field">
    <p>Diálogo Teo (Cuadro 3)</p>
    <%= f.text_field :text3 %>
  </div>
  <div class="field">
    <p>Diálogo Personaje (Cuadro 3) (En blanco si no hay)</p>
    <%= f.text_field :texto_personaje_cuadro3 %>
  </div>
  <div class="field">
    <p>Personajes Cuadro 4</p>
    <%= f.select :personaje_cuadro4, options_for_select(%w[Teo Teo_y_Camila Teo_y_Clara Teo_y_Don_German Teo_y_Guille Teo_e_Iker Teo_e_Irene Teo_y_Juana_Maria Teo_y_Santiago])%>
  </div>
  <div class="field">
    <p>Diálogo Teo (Cuadro 4)</p>
    <%= f.text_field :text4 %>
    <script type="text/javascript">
      jQuery(document).ready(function () {
            $("#tira_personaje_cuadro4").on("change", function () {
                 if (this.value == "Teo_y_Camila"){
                  $("#img_4").attr("src","/assets/4alt1.png");
                }
                if (this.value == "Teo_y_Clara"){
                  $("#img_4").attr("src","/assets/4alt2.png");
                }
                if (this.value == "Teo_y_Don_German"){
                  $("#img_4").attr("src","/assets/4alt3.png");
                }
                if (this.value == "Teo_y_Guille"){
                  $("#img_4").attr("src","/assets/4alt4.png");
                }
                if (this.value == "Teo_e_Iker"){
                  $("#img_4").attr("src","/assets/4alt5.png");
                }
                if (this.value == "Teo_e_Irene"){
                  $("#img_4").attr("src","/assets/4alt6.png");
                }
                if (this.value == "Teo_y_Juana_Maria"){
                  $("#img_4").attr("src","/assets/4alt7.png");
                }
                if (this.value == "Teo_y_Santiago"){
                  $("#img_4").attr("src","/assets/4alt8.png");
                }
                 if (this.value == "Teo"){
                  $("#img_4").attr("src","/assets/4.png");;
                }
                
            });
        });
  </script>
  </div>
  <div class="field">
    <p>Diálogo Personaje (Cuadro 4) (En blanco si no hay)</p>
    <%= f.text_field :texto_personaje_cuadro4 %>
  </div>
  <div class="field">
    <p>Personajes Cuadro 5</p>
    <%= f.select :personaje_cuadro5, options_for_select(%w[Teo])%>
  </div>
  <div class="field">
    <p>Diálogo Teo (Cuadro 5)</p>
    <%= f.text_field :text5 %>
  </div>
  <div class="field">
    <p>Diálogo Personaje (Cuadro 5) (En blanco si no hay)</p>
    <%= f.text_field :texto_personaje_cuadro5 %>
  </div>
  <div class="field">
    <p>Personajes Cuadro 6</p>
    <%= f.select :personaje_cuadro6, options_for_select(%w[Teo Teo_y_Camila Teo_y_Clara Teo_y_Don_German Teo_y_Guille Teo_e_Iker Teo_e_Irene Teo_y_Juana_Maria Teo_y_Santiago])%>
  </div>
  <div class="field">
    <p>Diálogo Teo (Cuadro 6)</p>
    <%= f.text_field :text6 %>
    <script type="text/javascript">
      jQuery(document).ready(function () {
            $("#tira_personaje_cuadro6").on("change", function () {
                 if (this.value == "Teo_y_Camila"){
                  $("#img_6").attr("src","/assets/6alt1.png");
                }
                if (this.value == "Teo_y_Clara"){
                  $("#img_6").attr("src","/assets/6alt2.png");
                }
                if (this.value == "Teo_y_Don_German"){
                  $("#img_6").attr("src","/assets/6alt3.png");
                }
                if (this.value == "Teo_y_Guille"){
                  $("#img_6").attr("src","/assets/6alt4.png");
                }
                if (this.value == "Teo_e_Iker"){
                  $("#img_6").attr("src","/assets/6alt5.png");
                }
                if (this.value == "Teo_e_Irene"){
                  $("#img_6").attr("src","/assets/6alt6.png");
                }
                if (this.value == "Teo_y_Juana_Maria"){
                  $("#img_6").attr("src","/assets/6alt7.png");
                }
                if (this.value == "Teo_y_Santiago"){
                  $("#img_6").attr("src","/assets/6alt8.png");
                }
                 if (this.value == "Teo"){
                  $("#img_6").attr("src","/assets/6.png");;
                }
                
            });
        });
  </script>
  </div>
  <div class="field">
    <p>Diálogo Personaje (Cuadro 6) (En blanco si no hay)</p>
    <%= f.text_field :texto_personaje_cuadro6 %>
  </div>
  <div class="field">
    <p>Tags: </p>
    <%= f.text_field :tag_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>