<div class="indexlist">
<h1>Archivo de tiras</h1>

<table>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Título</th>
      <th>Fecha</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tiras.each do |tira| %>
      <tr>
        <td><%= tira.user.first_name %></td>
        <td><%= tira.titulo %></td>
        <td><%= tira.created_at.strftime('%F')%></td>
        <td><%= link_to 'Editar', edit_tira_path(tira) %></td>
        <td><%= link_to 'Eliminar', tira, method: :delete, data: { confirm: 'Eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Nueva Tira', new_tira_path %><br>
<%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %>
</div>