<div class="large-4 columns" style="margin-left: 35%;">
<div class="indexlist">
<h1>Archivo de tiras</h1>

<table>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Título</th>
      <th>Fecha</th>
      <th>Etiquetas</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @tiras.each do |tira| %>
      <tr>
        <td><%= tira.user.first_name %></td>
        <td><%= tira.titulo %></td>
        <td><%= tira.created_at.strftime('%F')%></td>
        <td><%= render tira.tags %></td>
        <td><%= link_to 'Editar', edit_tira_path(tira) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @user.roles.first.name == "admin" %>
<%= link_to 'Panel de administrador', rails_admin_path %><br>
<% end %>
<%= link_to 'Crear Nueva Tira', new_tira_path %><br>
<%= link_to 'Editar Perfil', edit_registration_path(current_user) %><br>
<%= link_to 'Logout', destroy_user_session_path, method: :get %>
</div>
</div>