<!DOCTYPE html>
<html>
<head>
  <title>Teophilov2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale1, user-scalable=no">
</head>
<body>
	<script type="text/javascript">
		$(document).ready(function() {
		  var menuToggle = $('#js-centered-navigation-mobile-menu').unbind();
		  $('#js-centered-navigation-menu').removeClass("show");
		  
		  menuToggle.on('click', function(e) {
		    e.preventDefault();
		    $('#js-centered-navigation-menu').slideToggle(function(){
		      if($('#js-centered-navigation-menu').is(':hidden')) {
		        $('#js-centered-navigation-menu').removeAttr('style');
		      }
		    });
		  });
		});

	</script>
	<header class="centered-navigation" role="banner">
	  <div class="centered-navigation-wrapper">
	    <a href="/" class="mobile-logo">
	      <%= image_tag('logo2.png') %>
	    </a>
	    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
	    <nav role="navigation">
	      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
		    <li class="nav-link"><a href="https://www.facebook.com/soyTeophilo?fref=ts
Teophilo">
	          <%=image_tag("facebook.png") %>
	          </a></li>
	        <li class="nav-link"><a href="https://twitter.com/SOYTEOPHILO">
	          <%=image_tag("tw.png") %>
	        </a></li>
	        <li class="nav-link"><a href="javascript:void(0)">
	          <%=image_tag("pinterest2.png") %>
	        </a></li>
	        <li class="nav-link"><a href="http://soyteophilo.tumblr.com/">
	          <%=image_tag("tumblr2.png") %>
	        </a></li>
	        <li class="nav-link"><a href="https://plus.google.com/108922343993347697522/posts">
	          <%=image_tag("gplus.png") %>
	        </a></li>
	        <li class="nav-link logo">
	          <a href="/" class="logo">
	           <%= image_tag('logo2.png') %>
	          </a>
	          

	      </li>
     
	        <li class="nav-link" id="moneros"><a href="javascript:void(0)">MONEROS</a></li>
	
	        <li class="nav-link"><a href="/nuestras_voces">NUESTRAS VOCES</a></li>
	       
	        <li class="nav-link"><a href="https://teophiloequipo.wordpress.com/">BLOGS</a></li>
	      
	        
	      </ul>
	      <div class="headerline"></div>
	      
	    </nav>
	  </div>
	</header>


<%= yield %>

</body>
</html>
