<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Teophilo</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>


  </head>

  <body>
    <div class="mobilelogo"><a href="/"><img src="/assets/logo2.png"></a></div>

    <nav class="top-bar" data-topbar>
        <ul class="title-area">
           
          <li class="name"> </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
     
        <section class="top-bar-section">
           
          <ul class="left">
            <li class="divider"></li>
            <li>
              <a class="active" href="https://www.facebook.com/soyTeophilo?fref=tsTeophilo" target="_blank"><img src="/assets/facebook.png"></a>
            </li>
            <li class="divider"></li>
            <li><a href="https://twitter.com/SOYTEOPHILO" target="_blank"><img src="/assets/tw.png"></a></li>
            <li class="divider"></li>
            <li>
              <a class="active" href="https://es.pinterest.com/soyteophilo/" target="_blank"><img src="/assets/pinterest2.png"></a>
            </li>
            <li class="divider"></li>
            <li>
              <a class="active" href="http://soyteophilo.tumblr.com/" target="_blank"><img src="/assets/tumblr2.png"></a>
            </li>
            <li class="divider"></li>
            <li>
              <a class="active" href="https://plus.google.com/108922343993347697522/posts" target="_blank"><img src="/assets/gplus.png"></a>
            </li>
            <li class="divider"></li>
           
          </ul>
          <ul>
            
            <li class="title_logo"><a href="/"><img src="/assets/logo2.png"></a></li>
            
            
          </ul>
          
           
          <ul class="right">
            <li class="divider"></li>
            <li>
              <a href="#">Moneros</a>
            </li>
            <li class="divider"></li>
            <li><a href="/nuestras_voces">Nuestras Voces</a></li>
            <li class="divider"></li>
            <li>
              <a href="https://teophiloequipo.wordpress.com/" target="_blank">Blog</a>
            </li>
          </ul>
        </section>
        <hr>
      </nav>
    
    <%= yield %>


       <footer class="row">
        <div class="large-12 medium-12 small-12 columns">
          <hr/>
          <div class="row">
            <div class="large-4 medium-4 small-4 columns">
              <p>© Copyright TEOPHILO 2015.</p>
            </div>
            <div class="large-8 medium-8 small-8 columns">
              <ul class="inline-list right">
                <li><a href="#">AVISO DE PRIVACIDAD</a></li>
                <li><a href="#">CODIGO DE ETICA</a></li>
                <li><a href="/login">HERRAMIENTAS COLABORADORES</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

  </body>
</html>

